flows_raspberrypi.json
[{"id":"eca8e9c8.7991f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1451a3c0.e5f5ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2f72890.0becd78","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"320abd75.c036d2","type":"wiotp-credentials","z":"","name":"","org":"mwslhc","serverName":"","devType":"rPi","devId":"MySenseHAT","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"343dfea6.9bde02","type":"rpi-sensehat in","z":"eca8e9c8.7991f8","name":"","motion":true,"env":true,"stick":true,"x":74,"y":90,"wires":[["f84017ee.19a4d8"]]},{"id":"9b50378b.838048","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":110,"wires":[["a5fdbf31.0e418","c3982a64.ac3fd8"]]},{"id":"f84017ee.19a4d8","type":"switch","z":"eca8e9c8.7991f8","name":"Input Classification Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":164,"y":190,"wires":[["9b50378b.838048"],["5a7623f.e05b2dc"],["43104d7c.1dcb44"]]},{"id":"c3982a64.ac3fd8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":824,"y":130,"wires":[]},{"id":"819a11a1.e1ab6","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"0","filename":"pi-image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"Capture Image","x":934,"y":290,"wires":[["a9e6efa4.5ff1","81b20101.e0903"]]},{"id":"5a7623f.e05b2dc","type":"delay","z":"eca8e9c8.7991f8","name":"Sensor Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":444,"y":150,"wires":[["a7050754.cfaec8","c3982a64.ac3fd8"]]},{"id":"a5fdbf31.0e418","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"environment","format":"json","qos":"","name":"","x":804,"y":70,"wires":[]},{"id":"a7050754.cfaec8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"motion","format":"json","qos":"","name":"","x":824,"y":190,"wires":[]},{"id":"43104d7c.1dcb44","type":"switch","z":"eca8e9c8.7991f8","name":"Joystick Direction Check","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":164,"y":310,"wires":[["f85c17f7.82c268"],["1d301f34.bef8f1"]]},{"id":"c86cbb58.6f89c8","type":"delay","z":"eca8e9c8.7991f8","name":"Joystick Press Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":674,"y":290,"wires":[["819a11a1.e1ab6"]]},{"id":"1d301f34.bef8f1","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":330,"wires":[["291fd126.649c2e","a9e6efa4.5ff1"]]},{"id":"f85c17f7.82c268","type":"switch","z":"eca8e9c8.7991f8","name":"PRESS_DOWN_ONLY","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":414,"y":290,"wires":[["c86cbb58.6f89c8"]]},{"id":"a9e6efa4.5ff1","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1284,"y":350,"wires":[]},{"id":"81b20101.e0903","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"image captured","format":"json","qos":"","name":"","x":1254,"y":290,"wires":[]},{"id":"291fd126.649c2e","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"joystick directional input","format":"json","qos":"","name":"","x":1224,"y":410,"wires":[]},{"id":"2c5677e1.02db88","type":"wiotp in","z":"eca8e9c8.7991f8","authType":"g","deviceKey":"320abd75.c036d2","deviceType":"rPi","deviceId":"MySenseHAT","command":"+","commandType":"d","qos":0,"name":"","x":110,"y":460,"wires":[["7f13bdca.b6e2f4","1e4d7571.6c27eb"]]},{"id":"1e4d7571.6c27eb","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":600,"wires":[]},{"id":"44974ab0.e94864","type":"comment","z":"eca8e9c8.7991f8","name":"Send sensor/joystick data to Watson IoT","info":"","x":174,"y":30,"wires":[]},{"id":"7f13bdca.b6e2f4","type":"function","z":"eca8e9c8.7991f8","name":"sense_hat_cmds","func":"d = msg.payload.d;\nif (msg.command == \"message\") {\n    msg.background = d.background;\n    msg.color = d.color;\n    msg.payload = d.message;\n}\nelse if (msg.command == \"alarm\") {\n    msg.payload = \"\\*,\\*,\" + d.color;\n}\nelse {\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["8db312ab.183be"]]},{"id":"8db312ab.183be","type":"rpi-sensehat out","z":"eca8e9c8.7991f8","name":"","x":800,"y":480,"wires":[]}]