flows_raspberrypi.json
[{"id":"eca8e9c8.7991f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1451a3c0.e5f5ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2f72890.0becd78","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"320abd75.c036d2","type":"wiotp-credentials","z":"","name":"","org":"mwslhc","serverName":"","devType":"rPi","devId":"MySenseHAT","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"343dfea6.9bde02","type":"rpi-sensehat in","z":"eca8e9c8.7991f8","name":"","motion":true,"env":true,"stick":true,"x":80,"y":160,"wires":[["f84017ee.19a4d8"]]},{"id":"9b50378b.838048","type":"delay","z":"eca8e9c8.7991f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":120,"wires":[["a5fdbf31.0e418"]]},{"id":"f84017ee.19a4d8","type":"switch","z":"eca8e9c8.7991f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"environment","vt":"str"},{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":160,"wires":[["9b50378b.838048"],["5a7623f.e05b2dc"],["819a11a1.e1ab6"]]},{"id":"c3982a64.ac3fd8","type":"debug","z":"eca8e9c8.7991f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":220,"wires":[]},{"id":"819a11a1.e1ab6","type":"camerapi-takephoto","z":"eca8e9c8.7991f8","filemode":"1","filename":"pi-image.jpg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"1","awb":"auto","name":"","x":460,"y":200,"wires":[["84cd8cf9.3fa6f"]]},{"id":"5a7623f.e05b2dc","type":"delay","z":"eca8e9c8.7991f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":160,"wires":[["a7050754.cfaec8"]]},{"id":"a5fdbf31.0e418","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":710,"y":80,"wires":[]},{"id":"a7050754.cfaec8","type":"wiotp out","z":"eca8e9c8.7991f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"320abd75.c036d2","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":710,"y":140,"wires":[]},{"id":"84cd8cf9.3fa6f","type":"switch","z":"eca8e9c8.7991f8","name":"","property":"filename","propertyType":"msg","rules":[{"t":"eq","v":"pi-image.jpg","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":260,"wires":[["c3982a64.ac3fd8"]]}]